src/main/mule/mule-dataweave-scatter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
      http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <!-- =============== GLOBAL CONFIGURATION ===================== -->

    <configuration-properties file="config.properties" doc:name="Configuration properties" />

    <http:listener-config name="HTTP_Listener_Config">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>

    <http:request-config name="TimeAPI_Request_Config">
        <http:request-connection host="${time.api.host}" protocol="HTTPS" />
    </http:request-config>

    <os:object-store name="TZ_ObjectStore" persistent="false" />

    <!-- =============== GLOBAL ERROR HANDLING ==================== -->

    <error-handler name="GLOBAL_ERROR_HANDLER">

        <on-error-propagate type="HTTP:BAD_REQUEST" enableNotifications="true" logException="true">
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        correlationId: correlationId,
                        errorType: error.errorType,
                        message: error.errorMessage,
                        description: "Invalid request received",
                        timestamp: now()
                    }]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                </ee:variables>
            </ee:transform>
        </on-error-propagate>

        <on-error-continue logException="true">
            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        correlationId: correlationId,
                        error: "INTERNAL_SERVER_ERROR",
                        message: error.errorMessage,
                        timestamp: now()
                    }]]></ee:set-payload>
                </ee:message>
            </ee:transform>
        </on-error-continue>

    </error-handler>

    <!-- =================== MAIN FLOW ============================ -->

    <flow name="scatter-example-main-flow" >
        
        <!-- Assign correlationId -->
        <set-variable variableName="correlationId" value="#[uuid()]" />

        <http:listener config-ref="HTTP_Listener_Config" path="/scatter" />

        <logger level="INFO" message='#[%dw 2.0
            output application/json
            ---
            {
                event: "START_FLOW",
                correlationId: vars.correlationId,
                flow: flow.name,
                app: app.name,
                timestamp: now()
            }
        ]'/>

        <ee:transform doc:name="Prepare Engineer Payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output application/json
                ---
                {
                    engineer: "Bantamelak",
                    workHours: 90,
                    status: "SUCCESS",
                    correlationId: vars.correlationId
                }]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- ================= Scatter Gather ================= -->

        <scatter-gather doc:name="Parallel Time Lookup">
            <route>
                <flow-ref name="usa-time-zone-flow"/>
            </route>
            <route>
                <flow-ref name="backup-region-flow"/>
            </route>
        </scatter-gather>

        <!-- ================= Choice Routing ================= -->

        <choice>
            <when expression="#[payload[0].timeZone != null]">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
                        output application/json
                        ---
                        {
                            result: "Time zone found",
                            usaTime: payload[0],
                            backupTime: payload[1],
                            correlationId: vars.correlationId
                        }]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <otherwise>
                <set-payload value="#[{ message: 'No timezone returned', correlationId: vars.correlationId }]" />
            </otherwise>
        </choice>

        <logger level="INFO" message='#[%dw 2.0
            output application/json
            ---
            {
                event: "END_FLOW",
                correlationId: vars.correlationId,
                payload: payload,
                timestamp: now()
            }
        ]'/>

    </flow>

    <!-- ========= USA TIME ZONE FLOW (CACHED) =================== -->

    <flow name="usa-time-zone-flow">

        <os:retrieve doc:name="Check Cache" key="USA_TZ" target="fromCache" />

        <choice>
            <when expression="#[vars.fromCache != null]">
                <set-payload value="#[vars.fromCache]" />
            </when>

            <otherwise>
                <http:request method="GET" config-ref="TimeAPI_Request_Config" path="/zone">
                    <http:uri-params><![CDATA[#[{ timeZone: 'America/New_York' }]]]></http:uri-params>
                </http:request>

                <os:store key="USA_TZ" value="#[payload]" />
            </otherwise>
        </choice>

    </flow>

    <!-- ========== BACKUP TIMEZONE FLOW ========================= -->

    <flow name="backup-region-flow">

        <http:request method="GET" config-ref="TimeAPI_Request_Config" path="/zone">
            <http:uri-params><![CDATA[#[{ timeZone: 'America/Chicago' }]]]></http:uri-params>
        </http:request>

    </flow>

</mule>
